.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.planet-name {
  margin-top: 10px;
  font-size: 1.2rem; 
  color: #ffffff; 
  text-align: center; 
}

.planet-card_small {
  max-width: 120px;
}

.planet-card_small2{
  width: 180px;
}

.planet-card_medium {
  width: 200px;
}

.planet-card_medium2 {
  width: 220px;
}

.planet-card_large {
  width: 300px;
}
